ernerf/obama_eo_head/checkpoints/*.pth filter=lfs diff=lfs merge=lfs -text
ernerf/obama_eo_torso/checkpoints/*.pth filter=lfs diff=lfs merge=lfs -text
data/customvideo/idle/*.wav filter=lfs diff=lfs merge=lfs -text
archives/*.tar.zst filter=lfs diff=lfs merge=lfs -text
