__pycache__/
build/
*.egg-info/
*.so
*.mp4

tmp*
trial*/

data
!data/
!data/customvideo/
!data/customvideo/idle/
!data/customvideo/idle/**
data_utils/face_tracking/3DMM/*
data_utils/face_parsing/79999_iter.pth
ernerf/data_utils/face_tracking/3DMM/
ernerf/data_utils/face_parsing/79999_iter.pth
ernerf/checkpoints.zip
ernerf/nerf
ernerf/obama_eo_head/
!ernerf/obama_eo_head/
!ernerf/obama_eo_head/checkpoints/
!ernerf/obama_eo_head/checkpoints/ngp.pth
ernerf/obama_eo_torso/
!ernerf/obama_eo_torso/
!ernerf/obama_eo_torso/checkpoints/
!ernerf/obama_eo_torso/checkpoints/ngp.pth

!ernerf/data/
!ernerf/data/obama/
!ernerf/data/obama/transforms_*.json
!ernerf/data/obama/au.csv
!ernerf/data/obama/bc.jpg
!ernerf/data/obama/gt_imgs/
!ernerf/data/obama/gt_imgs/**
!ernerf/data/obama/torso_imgs/
!ernerf/data/obama/torso_imgs/**
ernerf/data/obama/ori_imgs/
ernerf/data/obama/parsing/
ernerf/data/obama/openface/
ernerf/data/obama/aud*.npy
ernerf/data/obama/aud.wav
ernerf/data/obama/obama.mp4
ernerf/data/obama/track_params.pt

pretrained
*.mp4
.DS_Store
workspace/log_ngp.txt
.idea
models/
*.log
dist
logs/
gateway.log
keys.json
daily.env
temp*.aac
temp*.mp4
